.titulo{
    text-align: center;
    color: blue;
    font-family: Arial;
}
body{
    background-color: rgb(47, 175, 100);
}
.texto{
    text-align: center;
    color: blue;
    font-family: Arial;
    font-weight: 300;
}
img{
    width: 500px;
    height: 250px;
}
.tabela{
    text-align: center;
    color: blue;
    font-family: Arial;

}